Source: ygl
Priority: extra
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends: debhelper-compat (= 13), xutils-dev, libgl1-mesa-dev, libxext-dev, libglu1-mesa-dev, xbitmaps
Standards-Version: 4.6.1
Section: libs
Rules-Requires-Root: no

Package: libygl4-dev
Section: libdevel
Architecture: any
Depends: libygl4 (= ${binary:Version})
Description: A library that emulates SGI's GL routines under X11
 Ygl is an graphics library that emulates the routines of SGI's GL (sometimes 
 called IRIS GL). Please note that GL is different from OpenGL.  Ygl is very 
 simple to use, and very fast. The 2D routines are built around the standard 
 X11 libraries and reported to be faster than GL itself.  This release will 
 also work with FORTRAN code and has been built with 3D support.  The library 
 therefore requires the use of the OpenGL libraries.
 . 
 This package provides the development files.

Package: libygl4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A library that emulates SGI's GL routines under X11
 Ygl is an graphics library that emulates the routines of SGI's GL (sometimes 
 called IRIS GL). Please note that GL is different from OpenGL.  Ygl is very 
 simple to use, and very fast. The 2D routines are built around the standard 
 X11 libraries and reported to be faster than GL itself.  This release will 
 also work with FORTRAN code and has been built with 3D support.  The library 
 therefore requires the use of the OpenGL libraries.
 . 
 This package provides the runtime library.

